@charset "UTF-8";
@import url("");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap");
body {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal; }

* {
  box-sizing: border-box; }

.container {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

body {
  font-family: "Poppins" !important;
  letter-spacing: 0.4px;
  font-size: 16px;
  color: #666;
  margin: 0;
  padding: 0; }

.small-text {
  font-size: 10px; }

.secondary-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Links */
a:link {
  color: #fff;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:visited {
  color: #fff; }

a:active {
  color: #000; }

.my-icon {
  box-sizing: border-box;
  background-color: #999aa2;
  color: white; }

.my-icon:hover {
  background-color: #7e808a; }

span.input-group-addon {
  background-color: #999aa2;
  width: 40px;
  background-color: #999aa2;
  border: 1px solid #999aa2;
  border-radius: 2px;
  padding: 5px;
  transition: background-color 0.5s ease; }

span.input-group-addon:hover {
  background-color: #7e808a;
  cursor: pointer; }

.header-top {
  background-color: #fff;
  padding: 0 !important;
  margin: 0 !important;
  height: 8vh !important;
  flex-wrap: nowrap;
  overflow: hidden; }
  .header-top img {
    border: 0;
    object-fit: fill; }
  .header-top a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center; }
  .header-top .mobile {
    float: right; }
  .header-top .btn {
    height: 56px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent; }
  .header-top .btn-contact {
    background-color: #999aa2;
    border-radius: 3px;
    color: white;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px; }
    .header-top .btn-contact:hover, .header-top .btn-contact:active, .header-top .btn-contact:focus {
      background-color: #84858f;
      color: white; }
  .header-top .btn-support {
    background-color: #4183d7;
    border-radius: 3px;
    color: white;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px; }
    .header-top .btn-support:hover, .header-top .btn-support:active, .header-top .btn-support:focus {
      background-color: #2a6ec6;
      color: white; }

@media screen and (max-width: 776px) {
  span.input-group-addon {
    position: relative; }

  span.input-group-addoni {
    position: absolute;
    right: 13px;
    top: 15px;
    color: #ced4da; }

  .form-control {
    height: 50px;
    background-color: #eeeeee69; }

  .form-control:focus {
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee; } }
@media screen and (min-width: 991px) and (max-width: 777px) {
  .medium-screens {
    display: none; } }
@media (max-width: 991px) {
  .small-screens {
    display: none; } }
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center; }

.menu-button-container {
  display: none;
  height: 56px;
  width: 56px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333645;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  border-radius: 5px;
  margin-left: 20px !important; }

#menu-toggle {
  display: none; }

.menu-button, .menu-button::before, .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px; }

.menu-button::before {
  content: "";
  margin-top: -8px; }

.menu-button::after {
  content: "";
  margin-top: 8px; }

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg); }

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #333645; }

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg); }

.menu-button-container {
  display: flex; }

.navbar {
  background-color: #333645;
  padding: 0 !important;
  font-size: 23px; }
  .navbar h2 {
    color: white; }
  .navbar a {
    font-size: 19px; }

.dropdown-hover:hover > .dropdown-menu {
  display: inline-block; }

.dropdown-hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none; }

.list-group-item {
  color: white !important;
  white-space: nowrap;
  background-color: transparent !important;
  border-color: transparent !important; }

.list-group-item:hover {
  background-color: transparent !important;
  /* or any other color */
  border: none !important;
  text-decoration: underline; }

.bespoke-software {
  background-color: #333645;
  color: white; }
  .bespoke-software .dropdown-menu {
    background-color: #526781; }
  .bespoke-software .list-group-item {
    background-color: #526781; }
  .bespoke-software .block:hover {
    background-color: #67809f !important; }

.it-support {
  background-color: #333645; }
  .it-support .dropdown-menu {
    background-color: #286abd; }
  .it-support .list-group-item {
    background-color: #286abd; }

.digital-marketing {
  background-color: #333645; }
  .digital-marketing .dropdown-menu {
    background-color: #25a25a; }
  .digital-marketing .list-group-item {
    background-color: #25a25a; }

.telecoms-services {
  background-color: #333645; }
  .telecoms-services .dropdown-menu {
    background-color: #bc2c28; }
  .telecoms-services .list-group-item {
    background-color: #bc2c28; }

.web-design {
  background-color: #333645; }
  .web-design .dropdown-menu {
    background-color: #79539a; }
  .web-design .list-group-item {
    background-color: #79539a; }

.cyber-security {
  background-color: #333645; }
  .cyber-security .dropdown-menu {
    background-color: #de093f; }
  .cyber-security .list-group-item {
    background-color: #de093f; }

.developer-course {
  background-color: #333645; }
  .developer-course .dropdown-menu {
    background-color: #a3331d; }
  .developer-course .list-group-item {
    background-color: #a3331d; }

footer {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  background-color: #333645;
  display: block;
  flex-direction: column;
  color: #fff;
  flex: 1 0 20%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  footer a {
    padding: 10px; }
  footer a:link {
    color: #fff;
    text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }
  footer a:visited {
    color: #fff; }
  footer a:active {
    color: #000; }
  footer .footer-row {
    margin-bottom: 5%; }
    footer .footer-row .services,
    footer .footer-row .offices {
      margin-top: 2%; }
    footer .footer-row .service,
    footer .footer-row .office {
      margin-top: 2%; }
  footer .bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding: 1%; }
    footer .bottom .license {
      color: #fff;
      text-decoration: none;
      list-style: none;
      display: flex; }
      footer .bottom .license span {
        margin: 0 5px 0 5px; }
    footer .bottom .social-media {
      display: flex; }

.visible-xs {
  display: none; }

.service-list {
  margin-top: 30px;
  font-weight: 400;
  color: #333645;
  background-color: white; }
  .service-list h1 {
    font-size: 2.7rem;
    margin-bottom: -10px; }
  .service-list .h2 {
    font-family: inherit;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    padding-bottom: 10px;
    margin: 0 0 11px; }
  .service-list a {
    color: #333645 !important; }
  .service-list .btn {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 17px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid transparent; }
  .service-list .block {
    margin-top: 30px;
    color: black;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    min-height: 350px;
    position: relative;
    top: 10px;
    transition: top ease 0.5s; }
  .service-list .block:hover {
    background-color: white;
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: 0.5s ease;
    text-decoration: none; }
  .service-list .dot {
    height: 65px !important;
    width: 65px !important;
    border-radius: 50%;
    color: white;
    font-size: 2em !important;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 0.6em; }
  .service-list .btn-container {
    border-radius: 3px;
    color: black;
    padding: 5px 15px;
    margin: 0;
    box-sizing: border-box;
    display: inline-block; }
  .service-list .service-software {
    background-color: white;
    color: black; }
    .service-list .service-software .btn-container {
      background-color: #67809f;
      color: white; }
    .service-list .service-software .dot {
      background-color: #67809f; }
  .service-list .service-software:hover {
    background-color: #67809f; }
    .service-list .service-software:hover .btn-container {
      background-color: white;
      color: black; }
    .service-list .service-software:hover .dot {
      background-color: white;
      height: 65px;
      width: 65px !important;
      border-radius: 50%;
      color: #67809f;
      font-size: 2em !important;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
      padding: 0.5em 0.6em; }
  .service-list .it {
    background-color: white;
    color: black; }
    .service-list .it .btn-container {
      background-color: #4183d7;
      color: white; }
    .service-list .it .dot {
      background-color: #4183d7; }
  .service-list .it:hover {
    background-color: #4183d7; }
    .service-list .it:hover .btn-container {
      background-color: white;
      color: black; }
    .service-list .it:hover .dot {
      background-color: white;
      height: 65px;
      width: 65px !important;
      border-radius: 50%;
      color: #4183d7;
      font-size: 2em !important;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
      padding: 0.5em 0.6em; }
  .service-list .digital {
    background-color: white;
    color: black; }
    .service-list .digital .btn-container {
      background-color: #2ecc71;
      color: white; }
    .service-list .digital .dot {
      background-color: #2ecc71; }
  .service-list .digital:hover {
    background-color: #2ecc71; }
    .service-list .digital:hover .btn-container {
      background-color: white;
      color: black; }
    .service-list .digital:hover .dot {
      background-color: white;
      height: 65px;
      width: 65px !important;
      border-radius: 50%;
      color: #2ecc71;
      font-size: 2em !important;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
      padding: 0.5em 0.6em; }
  .service-list .telecoms {
    background-color: white;
    color: black; }
    .service-list .telecoms .btn-container {
      background-color: #d64541;
      color: white; }
    .service-list .telecoms .dot {
      background-color: #d64541; }
  .service-list .telecoms:hover {
    background-color: #d64541; }
    .service-list .telecoms:hover .btn-container {
      background-color: white;
      color: black; }
    .service-list .telecoms:hover .dot {
      background-color: white;
      height: 65px;
      width: 65px !important;
      border-radius: 50%;
      color: #d64541;
      font-size: 2em !important;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
      padding: 0.5em 0.6em; }
  .service-list .web {
    background-color: white;
    color: black; }
    .service-list .web .btn-container {
      background-color: #926fb1;
      color: white; }
    .service-list .web .dot {
      background-color: #926fb1; }
  .service-list .web:hover {
    background-color: #926fb1; }
    .service-list .web:hover .btn-container {
      background-color: white;
      color: black; }
    .service-list .web:hover .dot {
      background-color: white;
      height: 65px;
      width: 65px !important;
      border-radius: 50%;
      color: #926fb1;
      font-size: 2em !important;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
      padding: 0.5em 0.6em; }
  .service-list .security {
    background-color: white;
    color: black; }
    .service-list .security .btn-container {
      background-color: #f62459;
      color: white; }
    .service-list .security .dot {
      background-color: #f62459; }
  .service-list .security:hover {
    background-color: #f62459; }
    .service-list .security:hover .btn-container {
      background-color: white;
      color: black; }
    .service-list .security:hover .dot {
      background-color: white;
      height: 65px;
      width: 65px !important;
      border-radius: 50%;
      color: #f62459;
      font-size: 2em !important;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
      padding: 0.5em 0.6em; }
  .service-list .developer-course {
    background-color: white;
    color: black; }
    .service-list .developer-course .btn-container {
      background-color: #ce4125;
      color: white; }
    .service-list .developer-course .dot {
      background-color: #ce4125; }
  .service-list .developer-course:hover {
    background-color: #ce4125; }
    .service-list .developer-course:hover .btn-container {
      background-color: white;
      color: black; }
    .service-list .developer-course:hover .dot {
      background-color: white;
      height: 65px;
      width: 65px !important;
      border-radius: 50%;
      color: #ce4125;
      font-size: 2em !important;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
      padding: 0.5em 0.6em; }

.brand-color {
  background-color: #333645;
  color: #fff;
  font-size: 16px;
  padding: 50px 15px;
  line-height: 30px; }
  .brand-color a:link {
    color: #fff;
    text-decoration: none; }
    .brand-color a:link .underline:hover {
      text-decoration: underline !important; }
  .brand-color a:hover {
    text-decoration: none; }
  .brand-color a:visited {
    color: #fff; }
  .brand-color .client-quote {
    font-style: italic;
    font-size: 20px;
    font-weight: 600; }
  .brand-color .client-quote-author {
    font-weight: 600;
    color: #a3a8ac;
    font-size: 20px; }
  .brand-color .btn-read-more {
    background-color: #272936;
    font-size: 20px;
    line-height: 35px;
    padding: 10px;
    margin: 0; }
  .brand-color .btn-read-more:hover {
    background-color: #15171e; }
  .brand-color .btn-google {
    background-color: #4183d7 !important;
    font-size: 20px;
    line-height: 35px;
    padding: 10px;
    margin: 0; }
  .brand-color .btn-google:hover {
    background-color: #166af4 !important; }
  .brand-color .btn-trustpilot {
    background-color: #00B67B !important;
    font-size: 20px;
    line-height: 35px;
    padding: 10px;
    margin: 0; }
  .brand-color .btn-trustpilot:hover {
    background-color: #009b69 !important; }
  .brand-color .col-md-3 {
    padding: 3px; }

.article-list {
  color: #fff;
  font-size: 16px;
  padding: 50px 15px;
  line-height: 30px;
  color: #333645;
  background-color: white; }
  .article-list a {
    color: #333645 !important; }
  .article-list .img-container img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center; }
  .article-list .img-container .purple {
    background-color: #926fb1 !important;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 0 10px; }
  .article-list .img-container .grey {
    background-color: #67809f;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 0 10px; }
  .article-list h1 {
    font-size: 2.7rem;
    margin-bottom: -10px;
    margin-top: -13px; }
  .article-list p {
    font-size: 13px;
    line-height: 22px;
    min-height: 70px; }
  .article-list .btn {
    height: auto;
    background-color: #67809f;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 400; }
  .article-list .heading {
    font-size: 16px; }
  .article-list .user {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding-top: 20px; }
  .article-list .item {
    display: block;
    box-sizing: border-box;
    text-align: left;
    margin: 20px 0;
    box-shadow: 0 3px 35px rgb 0 0 0/10%;
    position: relative;
    top: 0;
    transition: top ease 0.5s; }
    .article-list .item .block {
      min-height: 400px;
      display: block;
      padding: 30px;
      border-radius: 2px;
      border: 1px solid #ccc;
      position: relative;
      top: 0; }
      .article-list .item .block .clearfix::before,
      .article-list .item .block .clearfix::after {
        content: "";
        display: table; }
      .article-list .item .block .clearfix::after {
        clear: both; }
  .article-list .item:hover {
    top: -10px;
    transition: 0.5s ease; }
    .article-list .item:hover .btn:hover {
      background-color: #67809f;
      color: white; }

.section {
  padding: 2%;
  align-items: center;
  vertical-align: middle; }
  .section .container .list .item {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease; }
  .section .container .list .item:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s ease; }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */ }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

.newsletter-full-width {
  background-color: #ddd;
  color: #333645;
  padding: 20px;
  margin: auto; }
  .newsletter-full-width a {
    color: #333645;
    text-decoration: underline; }
  .newsletter-full-width a:hover {
    color: #22242e; }
  .newsletter-full-width .btn-subscribe {
    color: white;
    background-color: #333645; }
  .newsletter-full-width .btn-subscribe:hover {
    color: white;
    background-color: #22242e; }

.carousel-item-container {
  position: relative; }
  .carousel-item-container img {
    min-height: 550px;
    max-height: 577px;
    object-fit: cover; }

.carousel-text-container {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  margin: 0; }
  .carousel-text-container h2 {
    font-size: 64px;
    line-height: 80px; }
  .carousel-text-container p {
    font-size: 26px; }
  .carousel-text-container .contact-us {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #926FB1;
    padding: 5px;
    margin: 30px 30px 30px 0px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 400; }
  .carousel-text-container .contact-us:hover {
    background-color: #7E57A0; }

@media (max-width: 1262px) {
  .carousel-item-container {
    position: relative; }
    .carousel-item-container img {
      min-height: 550px;
      max-height: 577px;
      object-fit: cover; }

  .carousel-text-container {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0; }
    .carousel-text-container h2 {
      font-size: 40px;
      line-height: 48px; }
    .carousel-text-container p {
      font-size: 20px;
      line-height: 28px; }
    .carousel-text-container .contact-us {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-color: #926FB1;
      padding: 5px;
      margin: 30px 30px 30px 0px;
      height: 50px;
      font-size: 20px;
      line-height: 50px;
      font-weight: 400; }
    .carousel-text-container .contact-us:hover {
      background-color: #7E57A0; } }

/*# sourceMappingURL=application.css.map */
