@charset "UTF-8";
@import url("");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap");
body {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal; }

* {
  box-sizing: border-box; }

.container {
  margin-left: none;
  margin-right: none;
  overflow: hidden; }

body {
  font-family: "Poppins" !important;
  letter-spacing: 0.4px;
  font-size: 16px;
  color: #666;
  margin: 0;
  padding: 0; }

.small-text {
  font-size: 10px; }

.secondary-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Links */
a:link {
  color: #fff;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:visited {
  color: #fff; }

a:active {
  color: #000; }

.my-icon {
  box-sizing: border-box;
  background-color: #999aa2;
  color: white; }

.my-icon:hover {
  background-color: #7e808a; }

span.input-group-addon {
  background-color: #999aa2;
  width: 40px;
  background-color: #999aa2;
  border: 1px solid #999aa2;
  border-radius: 2px;
  padding: 5px; }

span.input-group-addon:hover {
  background-color: #7e808a;
  cursor: pointer; }

.header-top {
  background-color: #fff;
  padding: 0 !important;
  margin: 0 !important; }
  .header-top .form-control {
    height: 56px;
    width: 208px;
    background-color: #eeeeee69; }
  .header-top .input-group-addon {
    height: 49px;
    width: 44px;
    padding: 5px; }
  .header-top .input-group-addon i {
    font-size: 24px; }
  .header-top img {
    border: 0;
    object-fit: fill; }
  .header-top a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center; }
  .header-top .mobile {
    float: right; }
  .header-top .btn {
    height: 56px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent; }
  .header-top .btn-contact {
    background-color: #999aa2;
    border-radius: 3px;
    color: white;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px; }
    .header-top .btn-contact:hover, .header-top .btn-contact:active, .header-top .btn-contact:focus {
      background-color: #84858f;
      color: white; }
  .header-top .btn-support {
    background-color: #4183d7;
    border-radius: 3px;
    color: white;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px; }
    .header-top .btn-support:hover, .header-top .btn-support:active, .header-top .btn-support:focus {
      background-color: #2a6ec6;
      color: white; }
  .header-top .mobile {
    color: #333645;
    text-decoration: none;
    font-size: 32px;
    margin-left: 15px; }

@media screen and (max-width: 767px) {
  .header-top {
    height: 168px; }
    .header-top span.input-group-addon {
      position: relative; }
    .header-top .form-control {
      height: 56px;
      background-color: #eeeeee69; } }
@media screen and (min-width: 991px) and (max-width: 767px) {
  .header-top .form-control {
    width: 142px !important;
    padding: 5px 15px;
    background-color: #eeeeee69; } }
@media screen and (min-width: 1260px) and (max-width: 992px) {
  .search-icon {
    width: 49px;
    height: 44px;
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center; } }
@media (max-width: 767px) {
  .small-screens {
    display: none !important; }

  .header-top .container {
    margin: 0;
    padding: 0;
    min-width: 100%; }
  .header-top .form-control {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: none;
    padding-right: 40px; }
    .header-top .form-control .input-group-addon i {
      height: 49px;
      width: 44px;
      padding: 5px;
      background: none;
      border: none;
      color: #333645;
      position: absolute;
      right: 5px;
      line-height: 47px;
      font-size: 20px;
      outline: none; } }
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center; }

.menu-button-container {
  display: none;
  height: 56px;
  width: 56px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333645;
  padding: 10px;
  margin: 10px;
  margin-right: 10px !important;
  border-radius: 5px; }

#menu-toggle {
  display: none; }

.menu-button, .menu-button::before, .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px; }

.menu-button::before {
  content: "";
  margin-top: -8px; }

.menu-button::after {
  content: "";
  margin-top: 8px; }

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg); }

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #333645; }

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg); }

.menu-button-container {
  display: flex; }

.navbar {
  background-color: #333645;
  padding: 0 !important;
  font-size: 23px;
  border-radius: 0px !important;
  border: 0 !important; }
  .navbar .row > * {
    padding: 0px; }
  .navbar .navbar-collapse {
    padding: 0; }
  .navbar h2 {
    color: white;
    margin: 0px; }
  .navbar a {
    font-size: 19px;
    margin: 10px; }
  .navbar .container {
    padding: 0 !important; }
  .navbar .container-fluid {
    padding: 0 !important; }

.dropdown-hover:hover > .dropdown-menu {
  display: inline-block;
  padding: 0px !important;
  border: 0px !important; }

.dropdown-hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none; }

.list-group-item {
  color: white !important;
  white-space: nowrap;
  background-color: transparent !important;
  border-color: transparent !important; }

.list-group-item:hover {
  background-color: transparent !important;
  /* or any other color */
  border: none !important;
  text-decoration: underline !important; }

.bespoke-software {
  background-color: #333645; }
  .bespoke-software i {
    color: #67809f; }
  .bespoke-software .triangle {
    position: relative;
    height: 60px;
    width: 100%; }
  .bespoke-software .triangle:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: calc(100% / 7);
    height: 100%;
    background: #67809f;
    -webkit-clip-path: polygon(50% 70%, 0 0, 100% 0);
    clip-path: polygon(50% 70%, 0 0, 100% 0); }
  .bespoke-software .dropdown-menu {
    background-color: #526781; }
  .bespoke-software .list-group-item {
    background-color: #526781; }

.bespoke-software:hover {
  background-color: #67809f; }
  .bespoke-software:hover a {
    color: white;
    text-decoration: none; }
  .bespoke-software:hover i {
    color: white; }

.it-support {
  background-color: #333645; }
  .it-support i {
    color: #4183d7; }
  .it-support .triangle {
    position: relative;
    height: 60px;
    width: 100%; }
  .it-support .triangle:before {
    content: '';
    position: absolute;
    display: block;
    left: calc(100% / 7);
    top: 0;
    bottom: 0;
    width: calc(100% / 7);
    height: 100%;
    background: #4183d7;
    -webkit-clip-path: polygon(50% 70%, 0 0, 100% 0);
    clip-path: polygon(50% 70%, 0 0, 100% 0); }
  .it-support .dropdown-menu {
    background-color: #286abd; }
  .it-support .list-group-item {
    background-color: #286abd; }

.it-support:hover {
  background-color: #4183d7; }
  .it-support:hover a {
    color: white;
    text-decoration: none; }
  .it-support:hover i {
    color: white; }

.digital-marketing {
  background-color: #333645; }
  .digital-marketing i {
    color: #2ecc71; }
  .digital-marketing .triangle {
    position: relative;
    height: 60px;
    width: 100%; }
  .digital-marketing .triangle:before {
    content: '';
    position: absolute;
    display: block;
    left: calc(200% / 7);
    top: 0;
    bottom: 0;
    width: calc(100% / 7);
    height: 100%;
    background: #2ecc71;
    -webkit-clip-path: polygon(50% 70%, 0 0, 100% 0);
    clip-path: polygon(50% 70%, 0 0, 100% 0); }
  .digital-marketing .dropdown-menu {
    background-color: #25a25a; }
  .digital-marketing .list-group-item {
    background-color: #25a25a; }

.digital-marketing:hover {
  background-color: #2ecc71; }
  .digital-marketing:hover a {
    color: white;
    text-decoration: none; }
  .digital-marketing:hover i {
    color: white; }

.telecoms-services {
  background-color: #333645; }
  .telecoms-services i {
    color: #d64541; }
  .telecoms-services .triangle {
    position: relative;
    height: 60px;
    width: 100%; }
  .telecoms-services .triangle:before {
    content: '';
    position: absolute;
    display: block;
    left: calc(300% / 7);
    top: 0;
    bottom: 0;
    width: calc(100% / 7);
    height: 100%;
    background: #d64541;
    -webkit-clip-path: polygon(50% 70%, 0 0, 100% 0);
    clip-path: polygon(50% 70%, 0 0, 100% 0); }
  .telecoms-services .dropdown-menu {
    background-color: #bc2c28; }
  .telecoms-services .list-group-item {
    background-color: #bc2c28; }

.telecoms-services:hover {
  background-color: #d64541; }
  .telecoms-services:hover a {
    color: white;
    text-decoration: none; }
  .telecoms-services:hover i {
    color: white; }

.web-design {
  background-color: #333645; }
  .web-design i {
    color: #926fb1; }
  .web-design .triangle {
    position: relative;
    height: 60px;
    width: 100%; }
  .web-design .triangle:before {
    content: '';
    position: absolute;
    display: block;
    left: calc(400% / 7);
    top: 0;
    bottom: 0;
    width: calc(100% / 7);
    height: 100%;
    background: #926fb1;
    -webkit-clip-path: polygon(50% 70%, 0 0, 100% 0);
    clip-path: polygon(50% 70%, 0 0, 100% 0); }
  .web-design .dropdown-menu {
    background-color: #79539a; }
  .web-design .list-group-item {
    background-color: #79539a; }

.web-design:hover {
  background-color: #926fb1; }
  .web-design:hover a {
    color: white;
    text-decoration: none; }
  .web-design:hover i {
    color: white; }

.cyber-security {
  background-color: #333645; }
  .cyber-security i {
    color: #f62459; }
  .cyber-security .triangle {
    position: relative;
    height: 60px;
    width: 100%; }
  .cyber-security .triangle:before {
    content: '';
    position: absolute;
    display: block;
    left: calc(500% / 7);
    top: 0;
    bottom: 0;
    width: calc(100% / 7);
    height: 100%;
    background: #f62459;
    -webkit-clip-path: polygon(50% 70%, 0 0, 100% 0);
    clip-path: polygon(50% 70%, 0 0, 100% 0); }
  .cyber-security .dropdown-menu {
    background-color: #de093f; }
  .cyber-security .list-group-item {
    background-color: #de093f; }

.cyber-security:hover {
  background-color: #f62459; }
  .cyber-security:hover a {
    color: white;
    text-decoration: none; }
  .cyber-security:hover i {
    color: white; }

.developer-course {
  background-color: #333645; }
  .developer-course i {
    color: #ce4125; }
  .developer-course .triangle {
    position: relative;
    height: 60px;
    width: 100%; }
  .developer-course .triangle:before {
    content: '';
    position: absolute;
    display: block;
    left: calc(600% / 7);
    top: 0;
    bottom: 0;
    width: calc(100% / 7);
    height: 100%;
    background: #ce4125;
    -webkit-clip-path: polygon(50% 70%, 0 0, 100% 0);
    clip-path: polygon(50% 70%, 0 0, 100% 0); }
  .developer-course .dropdown-menu {
    background-color: #a3331d; }
  .developer-course .list-group-item {
    background-color: #a3331d; }

.developer-course:hover {
  background-color: #ce4125; }
  .developer-course:hover a {
    color: white;
    text-decoration: none; }
  .developer-course:hover i {
    color: white; }

footer {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  background-color: #333645;
  display: block;
  color: #fff; }
  footer h4 {
    margin: 25px 0; }
  footer ul {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    min-width: 225px; }
  footer a {
    padding: 0; }
  footer a:link {
    color: #fff;
    text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }
  footer a:visited {
    color: #fff; }
  footer a:active {
    color: #000; }
  footer .footer-row .services,
  footer .footer-row .offices {
    padding: 0px;
    margin: 0px; }
  footer .footer-row .service,
  footer .footer-row .office {
    margin: 0px;
    padding: 0px; }
  footer .bottom {
    align-items: center;
    margin: 0px;
    width: 100%;
    outline: none;
    border-top: 1px solid #fff;
    padding: 5px 0 10px 0;
    position: relative; }
    footer .bottom ul {
      list-style: none;
      padding: 0 0 10px 0;
      margin: 0;
      min-width: 60px; }
    footer .bottom .col-8 {
      padding: 0px; }
    footer .bottom .license {
      color: #fff;
      box-sizing: border-box;
      text-decoration: none;
      display: flex; }
      footer .bottom .license span {
        margin: 0 5px 0 5px; }
    footer .bottom .social-media {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: end;
      color: white;
      opacity: 1;
      width: 140px;
      height: 40px;
      font-size: 17px; }
      footer .bottom .social-media a {
        padding: 0; }
        footer .bottom .social-media a span {
          padding: 10px; }
      footer .bottom .social-media .facebook {
        padding: 0;
        height: auto;
        width: auto; }
        footer .bottom .social-media .facebook .icon {
          height: auto;
          width: auto;
          border-radius: 50%;
          color: white;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px; }
      footer .bottom .social-media .facebook:hover {
        padding: 0;
        height: auto;
        width: auto; }
        footer .bottom .social-media .facebook:hover .icon:hover {
          height: auto;
          width: auto;
          background-color: #3b5998 !important;
          border-radius: 50%;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px; }
      footer .bottom .social-media .twitter {
        padding: 0;
        height: auto;
        width: auto; }
        footer .bottom .social-media .twitter .icon {
          height: auto;
          width: auto;
          border-radius: 50%;
          color: white;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px; }
      footer .bottom .social-media .twitter:hover {
        padding: 0;
        height: auto;
        width: auto; }
        footer .bottom .social-media .twitter:hover .icon:hover {
          height: auto;
          width: auto;
          background-color: #00aced !important;
          border-radius: 50%;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px; }
      footer .bottom .social-media .isntagram {
        padding: 0;
        height: auto;
        width: auto; }
        footer .bottom .social-media .isntagram .icon {
          height: auto;
          width: auto;
          border-radius: 50%;
          color: white;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px; }
      footer .bottom .social-media .instagram:hover {
        padding: 0;
        height: auto;
        width: auto; }
        footer .bottom .social-media .instagram:hover .icon:hover {
          height: auto;
          width: auto;
          background-color: #d93175 !important;
          border-radius: 50%;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px; }
      footer .bottom .social-media .linkedin {
        padding: 0;
        height: auto;
        width: auto; }
        footer .bottom .social-media .linkedin .icon {
          height: auto;
          width: auto;
          border-radius: 50%;
          color: white;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px; }
      footer .bottom .social-media .linkedin:hover {
        padding: 0;
        height: auto;
        width: auto; }
        footer .bottom .social-media .linkedin:hover .icon:hover {
          height: auto;
          width: auto;
          background-color: #0077b5 !important;
          border-radius: 50%;
          box-sizing: border-box;
          text-align: center;
          vertical-align: middle;
          padding: 10px 10px; }

.our-services {
  max-height: 3000px;
  min-height: 900px; }
  .our-services .service-list {
    margin-top: 30px;
    font-weight: 400;
    color: #333645;
    background-color: white; }
    .our-services .service-list h1 {
      font-size: 2.7rem;
      margin-bottom: -10px; }
    .our-services .service-list .h2 {
      font-family: inherit;
      font-size: 20px;
      position: relative;
      text-decoration: none;
      padding-bottom: 10px;
      margin: 0 0 11px; }
    .our-services .service-list a {
      color: #333645 !important; }
    .our-services .service-list .btn {
      height: auto;
      line-height: 35px;
      padding: 5px 15px;
      text-transform: uppercase;
      font-size: 17px;
      border-radius: 3px;
      text-align: center;
      border: 1px solid transparent; }
    .our-services .service-list .block {
      margin-top: 30px;
      color: black;
      margin: 10px;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      border-radius: 15px;
      border: 1px solid #ccc;
      text-align: center;
      font-size: 13px;
      line-height: 22px;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      height: auto;
      min-height: 350px;
      position: relative;
      top: 10px;
      transition: top ease 0.5s; }
    .our-services .service-list .block:hover {
      background-color: white;
      color: #fff;
      border-color: transparent;
      top: -10px;
      transition: 0.5s ease;
      text-decoration: none; }
    .our-services .service-list .dot {
      height: 65px !important;
      width: 65px !important;
      border-radius: 50%;
      color: white;
      font-size: 2em !important;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      vertical-align: middle;
      padding: 0.5em 0.6em; }
    .our-services .service-list .btn-container {
      border-radius: 3px;
      color: black;
      padding: 5px 15px;
      margin: 0;
      box-sizing: border-box;
      display: inline-block; }
    .our-services .service-list .service-software {
      background-color: white;
      color: black; }
      .our-services .service-list .service-software .btn-container {
        background-color: #67809f;
        color: white; }
      .our-services .service-list .service-software .dot {
        background-color: #67809f; }
    .our-services .service-list .service-software:hover {
      background-color: #67809f; }
      .our-services .service-list .service-software:hover .btn-container {
        background-color: white;
        color: black; }
      .our-services .service-list .service-software:hover .dot {
        background-color: white;
        height: 65px;
        width: 65px !important;
        border-radius: 50%;
        color: #67809f;
        font-size: 2em !important;
        box-sizing: border-box;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        padding: 0.5em 0.6em; }
    .our-services .service-list .it {
      background-color: white;
      color: black; }
      .our-services .service-list .it .btn-container {
        background-color: #4183d7;
        color: white; }
      .our-services .service-list .it .dot {
        background-color: #4183d7; }
    .our-services .service-list .it:hover {
      background-color: #4183d7; }
      .our-services .service-list .it:hover .btn-container {
        background-color: white;
        color: black; }
      .our-services .service-list .it:hover .dot {
        background-color: white;
        height: 65px;
        width: 65px !important;
        border-radius: 50%;
        color: #4183d7;
        font-size: 2em !important;
        box-sizing: border-box;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        padding: 0.5em 0.6em; }
    .our-services .service-list .digital {
      background-color: white;
      color: black; }
      .our-services .service-list .digital .btn-container {
        background-color: #2ecc71;
        color: white; }
      .our-services .service-list .digital .dot {
        background-color: #2ecc71; }
    .our-services .service-list .digital:hover {
      background-color: #2ecc71; }
      .our-services .service-list .digital:hover .btn-container {
        background-color: white;
        color: black; }
      .our-services .service-list .digital:hover .dot {
        background-color: white;
        height: 65px;
        width: 65px !important;
        border-radius: 50%;
        color: #2ecc71;
        font-size: 2em !important;
        box-sizing: border-box;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        padding: 0.5em 0.6em; }
    .our-services .service-list .telecoms {
      background-color: white;
      color: black; }
      .our-services .service-list .telecoms .btn-container {
        background-color: #d64541;
        color: white; }
      .our-services .service-list .telecoms .dot {
        background-color: #d64541; }
    .our-services .service-list .telecoms:hover {
      background-color: #d64541; }
      .our-services .service-list .telecoms:hover .btn-container {
        background-color: white;
        color: black; }
      .our-services .service-list .telecoms:hover .dot {
        background-color: white;
        height: 65px;
        width: 65px !important;
        border-radius: 50%;
        color: #d64541;
        font-size: 2em !important;
        box-sizing: border-box;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        padding: 0.5em 0.6em; }
    .our-services .service-list .web {
      background-color: white;
      color: black; }
      .our-services .service-list .web .btn-container {
        background-color: #926fb1;
        color: white; }
      .our-services .service-list .web .dot {
        background-color: #926fb1; }
    .our-services .service-list .web:hover {
      background-color: #926fb1; }
      .our-services .service-list .web:hover .btn-container {
        background-color: white;
        color: black; }
      .our-services .service-list .web:hover .dot {
        background-color: white;
        height: 65px;
        width: 65px !important;
        border-radius: 50%;
        color: #926fb1;
        font-size: 2em !important;
        box-sizing: border-box;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        padding: 0.5em 0.6em; }
    .our-services .service-list .security {
      background-color: white;
      color: black; }
      .our-services .service-list .security .btn-container {
        background-color: #f62459;
        color: white; }
      .our-services .service-list .security .dot {
        background-color: #f62459; }
    .our-services .service-list .security:hover {
      background-color: #f62459; }
      .our-services .service-list .security:hover .btn-container {
        background-color: white;
        color: black; }
      .our-services .service-list .security:hover .dot {
        background-color: white;
        height: 65px;
        width: 65px !important;
        border-radius: 50%;
        color: #f62459;
        font-size: 2em !important;
        box-sizing: border-box;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        padding: 0.5em 0.6em; }
    .our-services .service-list .developer-course {
      background-color: white;
      color: black; }
      .our-services .service-list .developer-course .btn-container {
        background-color: #ce4125;
        color: white; }
      .our-services .service-list .developer-course .dot {
        background-color: #ce4125; }
    .our-services .service-list .developer-course:hover {
      background-color: #ce4125; }
      .our-services .service-list .developer-course:hover .btn-container {
        background-color: white;
        color: black; }
      .our-services .service-list .developer-course:hover .dot {
        background-color: white;
        height: 65px;
        width: 65px !important;
        border-radius: 50%;
        color: #ce4125;
        font-size: 2em !important;
        box-sizing: border-box;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        padding: 0.5em 0.6em; }

.accreditation {
  position: relative;
  display: block;
  padding: 170px 0 170px 0; }
  .accreditation img {
    max-height: 70px;
    align-items: center; }
  .accreditation .item {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease; }
  .accreditation .item:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s ease; }

.brand-color {
  background-color: #333645;
  color: #fff;
  font-size: 16px;
  padding: 15px 15px;
  line-height: 30px; }
  .brand-color a:link {
    color: #fff;
    text-decoration: none; }
    .brand-color a:link .underline:hover {
      text-decoration: underline !important; }
  .brand-color a:hover {
    text-decoration: none; }
  .brand-color a:visited {
    color: #fff; }
  .brand-color .client-quote {
    font-style: italic;
    font-size: 20px;
    font-weight: 600; }
  .brand-color .client-quote-author {
    font-weight: 600;
    color: #a3a8ac;
    font-size: 20px; }
  .brand-color .btn-read-more {
    background-color: #272936;
    font-size: 20px;
    line-height: 35px;
    padding: 10px;
    margin: 0; }
  .brand-color .btn-read-more:hover {
    background-color: #15171e; }
  .brand-color .btn-google {
    background-color: #4183d7 !important;
    font-size: 20px;
    line-height: 35px;
    padding: 10px;
    margin: 0; }
  .brand-color .btn-google:hover {
    background-color: #166af4 !important; }
  .brand-color .btn-trustpilot {
    background-color: #00B67B !important;
    font-size: 20px;
    line-height: 35px;
    padding: 10px;
    margin: 0; }
  .brand-color .btn-trustpilot:hover {
    background-color: #009b69 !important; }
  .brand-color .col-md-3 {
    padding: 3px; }

.article-list {
  color: #fff;
  font-size: 16px;
  padding: 50px 15px 0px;
  line-height: 30px;
  color: #333645;
  background-color: white; }
  .article-list a {
    color: #333645 !important; }
  .article-list .img-container img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center; }
  .article-list .img-container .purple {
    background-color: #926fb1 !important;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 0 10px; }
  .article-list .img-container .grey {
    background-color: #67809f;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 0 10px; }
  .article-list h1 {
    font-size: 2.7rem;
    margin-bottom: -10px;
    margin-top: -13px; }
  .article-list p {
    font-size: 13px;
    line-height: 22px;
    min-height: 70px; }
  .article-list .btn {
    height: auto;
    background-color: #67809f;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 400; }
  .article-list .heading {
    font-size: 16px; }
  .article-list .user {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding-top: 20px; }
  .article-list .item {
    display: block;
    box-sizing: border-box;
    text-align: left;
    margin: 20px 0;
    box-shadow: 0 3px 35px rgb 0 0 0/10%;
    position: relative;
    top: 0;
    transition: top ease 0.5s; }
    .article-list .item .block {
      min-height: 400px;
      display: block;
      padding: 30px;
      border-radius: 2px;
      border: 1px solid #ccc;
      position: relative;
      top: 0; }
      .article-list .item .block .clearfix::before,
      .article-list .item .block .clearfix::after {
        content: "";
        display: table; }
      .article-list .item .block .clearfix::after {
        clear: both; }
  .article-list .item:hover {
    top: -10px;
    transition: 0.5s ease; }
    .article-list .item:hover .btn:hover {
      background-color: #67809f;
      color: white; }

.section {
  padding: 2%;
  align-items: center;
  vertical-align: middle; }
  .section .clients .list .item {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    position: relative; }
  .section .clients .list .item:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s ease; }
  .section .clients .list .custom-tooltip {
    position: relative; }
    .section .clients .list .custom-tooltip .box {
      height: 250px; }
      .section .clients .list .custom-tooltip .box .custom-tooltiptext {
        visibility: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px;
        background-color: #333645;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        z-index: 999;
        width: 250px;
        padding: 20px; }
      .section .clients .list .custom-tooltip .box .custom-tooltiptext::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: #333645 transparent transparent transparent; }
      .section .clients .list .custom-tooltip .box .arrow {
        border: 1px solid white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        margin-bottom: 30px; }
  .section .clients .list .item:hover .custom-tooltiptext {
    visibility: visible !important; }

.newsletter-full-width {
  background-color: #ddd;
  color: #333645;
  padding: 50px 0;
  margin: auto; }
  .newsletter-full-width a {
    color: #333645;
    text-decoration: underline; }
  .newsletter-full-width a:hover {
    color: #22242e; }
  .newsletter-full-width .form-control {
    width: 100%;
    height: 47px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .newsletter-full-width .required {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px; }
  .newsletter-full-width .required::after {
    content: " *";
    color: red; }
  .newsletter-full-width .media-body {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    font-style: normal; }
  .newsletter-full-width .btn-subscribe {
    color: white;
    background-color: #333645;
    padding: 5px 15px;
    font-size: 17px;
    line-height: 35px; }
  .newsletter-full-width .btn-subscribe:hover {
    color: white;
    background-color: #22242e; }
  .newsletter-full-width input[type="checkbox"] {
    appearance: none;
    margin: 0 20px 0 0;
    font: inherit;
    color: currentColor;
    max-width: 26px;
    max-height: 26px;
    min-width: 26px;
    min-height: 26px;
    border: 3px solid currentColor;
    border-radius: 3px;
    transform: translateY(-0.075em); }

.carousel-item-container {
  position: relative; }
  .carousel-item-container img {
    min-height: 550px;
    max-height: 577px;
    object-fit: cover; }

.carousel-text-container {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  margin: 0; }
  .carousel-text-container h2 {
    font-size: 64px;
    line-height: 80px; }
  .carousel-text-container p {
    font-size: 26px; }
  .carousel-text-container .contact-us {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #926FB1;
    padding: 5px;
    margin: 30px 30px 30px 0px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 400;
    min-width: 240px; }
  .carousel-text-container .contact-us:hover {
    background-color: #7E57A0; }

@media (max-width: 1262px) {
  .carousel-item-container {
    position: relative; }
    .carousel-item-container img {
      min-height: 550px;
      max-height: 577px;
      object-fit: cover; }

  .carousel-text-container {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0; }
    .carousel-text-container h2 {
      font-size: 40px;
      line-height: 48px; }
    .carousel-text-container p {
      font-size: 20px;
      line-height: 28px; }
    .carousel-text-container .contact-us {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-color: #926FB1;
      padding: 5px;
      margin: 30px 30px 30px 0px;
      height: 50px;
      font-size: 20px;
      line-height: 50px;
      font-weight: 400; }
    .carousel-text-container .contact-us:hover {
      background-color: #7E57A0; } }

/*# sourceMappingURL=application.css.map */
