// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap';
$font-family--primary    : 'Poppins, sans-serif';
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights



// Descriptive Base Colors

$white    : #fff;
$black    : #000;
$grey     : #ddd;
$green    : #00B67B;

$bunting  		: #333645;
$havelock       : #4183d7;

// Color Usage

$color-primary   : $bunting;

// Color Palette Modifiers



// UI Colors



// Text



// Border radius



// Transitions



// Path to Assets


// Grid
