// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks
@import url('');
$font-url--google        : 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap';
$font-family--primary    : 'Poppins';
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Default font-weight and style

$font-weight-poppins: 700;
$font-style-poppins: normal;


// Import the font
@import url($font-url--google);

// Set the font-family, font-weight and font-style for the body element
body {
    font-family: $font-family--primary;
    font-weight: $font-weight-poppins;
    font-style: $font-style-poppins;
}

// Descriptive Base Colors

$white    : #fff;
$black    : #000;
$grey     : #67809f;
$green    : #2ecc71;
$blue     : #4183d7;
$red      : #d64541;
$purple   : #926fb1;
$pink     : #f62459;



$bunting  		: #333645;
$havelock       : #4183d7;

// Color Usage

$color-primary   : $bunting;

// Color Palette Modifiers


$purple-hover   : #7E57A0;
$grey-hover     : #566C88;
$green-hover    : #26ab5f;
$blue-hover     : #2a6ec6;
$red-hover      : #c42e2a;
$pink-hover     : #e80a42;



// UI Colors



// Text



// Border radius



// Transitions



// Path to Assets


// Grid
