// ==========================================================================
// Base Styles
// ==========================================================================

// Layout

* {
	box-sizing: border-box;
}

.container {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

// Body

body {
	font-family: $font-family--primary !important;
	letter-spacing: 0.4px;
	font-size: 16px;
	color: #666;
	margin: 0;
	padding: 0;
}
.small-text {
	font-size: 10px;
}
.secondary-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Links */

a:link {
	color: $white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: $white;
}

a:active {
	color: $black;
}

// Header

.my-icon {
	box-sizing: border-box;
	background-color: #999aa2;
	color: white;
}
.my-icon:hover {
	background-color: #7e808a;
}

span.input-group-addon {
	background-color: #999aa2;
	width: 40px;
	background-color: #999aa2;
	border: 1px solid #999aa2;
	border-radius: 2px;
	padding: 5px;
	transition: background-color 0.5s ease;
}

span.input-group-addon:hover {
	background-color: #7e808a;
	cursor: pointer;
}

// Header Top
.header-top {
	background-color: $white;
	padding: 0 !important;
	margin: 0 !important;
	height: 8vh !important;
	flex-wrap: nowrap;
	overflow: hidden;

	img {
		border: 0;
		object-fit: fill;
	}

	a {
		color: $white;
		padding: 14px 20px;
		text-decoration: none;
		text-align: center;
	}
	.mobile {
		float: right;
	}
	.btn {
		height: 56px;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid transparent;
	}
	.btn-contact {
		background-color: #999aa2;
		border-radius: 3px;
		color: white;
		padding: 15px;
		margin: 10px;
		box-sizing: border-box;
		font-size: 18px;
		&:hover,
		&:active,
		&:focus {
			background-color: #84858f;
			color: white;
		}
	}

	.btn-support {
		background-color: #4183d7;
		border-radius: 3px;
		color: white;
		padding: 15px;
		margin: 10px;
		box-sizing: border-box;
		font-size: 18px;
		&:hover,
		&:active,
		&:focus {
			background-color: #2a6ec6;
			color: white;
		}
	}
}

@media screen and (max-width: 776px) {
	span.input-group-addon {
		position: relative;
	}

	span.input-group-addoni {
		position: absolute;
		right: 13px;
		top: 15px;
		color: #ced4da;
	}

	.form-control {
		height: 50px;
		background-color: #eeeeee69;
	}

	.form-control:focus {
		background-color: #eeeeee69;
		box-shadow: none;
		border-color: #eee;
	}
}

@media screen and (min-width: 991px) and (max-width: 777px) {
	.medium-screens {
		display: none;
	}
}

@media (max-width: 991px) {
	.small-screens {
		display: none;
	}
}

