footer {
	font-size: 13px;
	font-family: Poppins, sans-serif;
	background-color: $bunting;
	display: block;
	flex-direction: column;
	color:$white;
	flex: 1 0 20%;
	flex-wrap: wrap;
	
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;


	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a{
		padding: 10px;
	}

	a:link {
		color: $white;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	a:visited {
		color: $white;
	}

	a:active {
		color: $black;
	}

	.footer-row {
		margin-bottom: 5%;
		.services,
		.offices {
			margin-top: 2%;
		}

		.service,
		.office {
			margin-top: 2%;
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid $white;
		padding: 1%;

		.license {
			color: $white;
			text-decoration: none;
			list-style: none;
			display: flex;

			span {
				margin: 0 5px 0 5px;
			}
		}

		.social-media {
			display: flex;
		}
	}
}

.visible-xs {
	display: none;
}

