.service-list {
    margin-top: 30px;
    font-weight: 400;
    color: #333645;
    background-color: white;

    h1 {
        font-size: 2.7rem;
        margin-bottom: -10px;
    }
    .h2 {
        font-family: inherit;
        font-size: 20px;
        position: relative;
        text-decoration: none;
        padding-bottom: 10px;
        margin: 0 0 11px;
    }

    a {
        color: #333645 !important;
    }

    .btn {
        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 17px;
        border-radius: 3px;
        text-align: center;
        border: 1px solid transparent;
    }

    .block {
        margin-top: 30px;
        color: black;
        margin: 10px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border-radius: 15px;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 13px;
        line-height: 22px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        height: auto;
        min-height: 350px;

        position: relative;
        top: 10px;
        transition: top ease 0.5s;
    }
    .block:hover {
        background-color: white;
        color: #fff;
        border-color: transparent;
        top: -10px;
        transition: 0.5s ease;
        text-decoration: none;
    }

    .dot {
        height: 65px !important;
        width: 65px !important;
        border-radius: 50%;
        color: white;
        font-size: 2em !important;
        box-sizing: border-box;
        line-height: 60px;
        text-align: center;
        vertical-align: middle;
        padding: 0.5em 0.6em;
    }

    .btn-container {
        border-radius: 3px;
        color: black;
        padding: 5px 15px;
        margin: 0;
        box-sizing: border-box;
        display: inline-block;
    }

    .service-software {
        background-color: white;
        color: black;

        .btn-container {
            background-color: #67809f;
            color: white;
        }
        .dot {
            background-color: #67809f;
        }
    }

    .service-software:hover {
        background-color: #67809f;

        .btn-container {
            background-color: white;
            color: black;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #67809f;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .it {
        background-color: white;
        color: black;

        .btn-container {
            background-color: #4183d7;
            color: white;
        }
        .dot {
            background-color: #4183d7;
        }
    }

    .it:hover {
        background-color: #4183d7;

        .btn-container {
            background-color: white;
            color: black;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #4183d7;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .digital {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #2ecc71;
            color: white;
        }
        .dot {
            background-color: #2ecc71;
        }
    }

    .digital:hover {
        background-color: #2ecc71;
        .btn-container {
            background-color: white;
            color: black;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #2ecc71;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .telecoms {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #d64541;
            color: white;
        }
        .dot {
            background-color: #d64541;
        }
    }

    .telecoms:hover {
        background-color: #d64541;
        .btn-container {
            background-color: white;
            color: black;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #d64541;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .web {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #926fb1;
            color: white;
        }
        .dot {
            background-color: #926fb1;
        }
    }

    .web:hover {
        background-color: #926fb1;
        .btn-container {
            background-color: white;
            color: black;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #926fb1;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .security {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #f62459;
            color: white;
        }
        .dot {
            background-color: #f62459;
        }
    }

    .security:hover {
        background-color: #f62459;
        .btn-container {
            background-color: white;
            color: black;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #f62459;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .developer-course {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #ce4125;
            color: white;
        }
        .dot {
            background-color: #ce4125;
        }
    }

    .developer-course:hover {
        background-color: #ce4125;
        .btn-container {
            background-color: white;
            color: black;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #ce4125;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

}

.brand-color {
    background-color: $bunting;
    color: $white;
    font-size: 16px;
    padding: 50px 15px;
    line-height: 30px;

    a:link {
        color: $white;
        text-decoration: none;
        .underline:hover {
            text-decoration: underline !important;
        }
    }

    a:hover {
        text-decoration: none;
    }

    a:visited {
        color: $white;
    }

    .client-quote {
        font-style: italic;
        font-size: 20px;
        font-weight: 600;
    }
    .client-quote-author {
        font-weight: 600;
        color: #a3a8ac;
        font-size: 20px;
    }

    .btn-read-more {
        background-color: #272936;
        font-size: 20px;
        line-height: 35px;
        padding: 10px;
        margin: 0;
    }
    .btn-read-more:hover {
        background-color: #15171e;
    }
    .btn-google {
        background-color: $havelock !important;
        font-size: 20px;
        line-height: 35px;
        padding: 10px;
        margin: 0;
    }
    .btn-google:hover {
        background-color: #166af4 !important;
    }

    .btn-trustpilot {
        background-color: $green !important;
        font-size: 20px;
        line-height: 35px;
        padding: 10px;
        margin: 0;
    }
    .btn-trustpilot:hover {
        background-color: #009b69 !important;
    }
    .col-md-3 {
        padding: 3px;
    }
}

.article-list {
    color: $white;
    font-size: 16px;
    padding: 50px 15px;
    line-height: 30px;
    color: #333645;
    background-color: white;

    a {
        color: #333645 !important;
    }

    .img-container {
       
    

        img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
            min-height: 200px;
            display: flex;
            justify-content: center;

            
        }
        .purple {
            background-color: #926fb1 !important;
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            padding: 0 10px;
        }

        .grey {
            background-color: #67809f;
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            padding: 0 10px;
        }
    }

    h1 {
        font-size: 2.7rem;
        margin-bottom: -10px;
        margin-top: -13px;
    }
   

    p{
        font-size: 13px;
        line-height: 22px;
        min-height: 70px;

    }


    .btn {
        height: auto;
        background-color: #67809f;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 17px;
        border-radius: 3px;
        border: 1px solid transparent;
        font-weight: 400;
    }

    .heading {
        font-size: 16px;    
    }

    .user {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        padding-top: 20px;
    }

    .item {
        display: block;

        box-sizing: border-box;
        text-align: left;
        margin: 20px 0;
        box-shadow: 0 3px 35px rgb(0 0 0 / 10%);

        position: relative;
        top: 0;
        transition: top ease 0.5s;

        .block {

            min-height: 400px;
            display: block;
            padding: 30px;
            border-radius: 2px;
            border: 1px solid #ccc;

            position: relative;
            top: 0;

            @include clearfix;
        }
    }
    .item:hover {
        top: -10px;
        transition: 0.5s ease;
        .btn:hover {
            background-color: #67809f;
            color: white;
        }
    }
}

.section {
    padding: 2%;
    align-items: center;
    vertical-align: middle;
    .container {
        .list {
            .item {
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: all 0.5s ease;
            }

            .item:hover {
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                filter: grayscale(0%);
                transition: all 0.5s ease;
            }
        }
    }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.newsletter-full-width {
    background-color: #ddd;
    color: $bunting;
    padding: 20px;
    margin: auto;
    a {
        color: $bunting;
        text-decoration: underline;
    }
    a:hover {
        color: #22242e;
    }

    .btn-subscribe {
        color: white;
        background-color: $bunting;
    }
    .btn-subscribe:hover {
        color: white;
        background-color: #22242e;
    }
}
