.our-services {
    max-height: 3000px;
    min-height: 900px;

    .service-list {
        margin-top: 30px;
        font-weight: 400;
        color: #333645;
        background-color: white;

        h1 {
            font-size: 2.7rem;
            margin-bottom: -10px;
        }

        h2 {
            font-family: inherit;
            font-size: 21px;
            position: relative;
            text-decoration: none;
            padding-bottom: 10px;
            margin: 0 0 11px;
            font-weight: 400;
            line-height: 33px;
        }

        a {
            color: #333645;
        }


        .text-center {
            min-height: auto;
        }

        .btn {
            height: auto;
            line-height: 35px;
            padding: 5px 15px;
            text-transform: uppercase;
            font-size: 17px;
            border-radius: 3px;
            text-align: center;
            border: 1px solid transparent;
            margin: 10px;
        }

        .block {
            margin-top: 30px;
            color: black;
            margin: 10px;
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            border-radius: 15px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 13px;
            line-height: 22px;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            height: auto;
            min-height: 350px;

            position: relative;
            top: 10px;
            transition: top ease 0.5s;
        }

        .block:hover {
            background-color: white;
            color: #fff;
            border-color: transparent;
            top: -10px;
            transition: 0.5s ease;
            text-decoration: none;
        }

        .dot {
            height: 65px !important;
            width: 65px !important;
            border-radius: 50%;
            color: white;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 60px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }

        .btn-container {
            border-radius: 3px;
            color: black;
            padding: 5px 15px;
            box-sizing: border-box;
            display: inline-block;
        }

        .service-software {
            background-color: white;
            color: black;

            .btn-container {
                background-color: #67809f;
                color: white;
            }

            .dot {
                background-color: #67809f;
            }
        }

        .service-software:hover {
            background-color: #67809f;

            .btn-container {
                background-color: white;
                color: black;
            }

            .dot {
                background-color: white;
                height: 65px;
                width: 65px !important;
                border-radius: 50%;
                color: #67809f;
                font-size: 2em !important;
                box-sizing: border-box;
                line-height: 60px;
                text-align: center;
                vertical-align: middle;
                padding: 0.5em 0.6em;
            }
        }

        .it {
            background-color: white;
            color: black;

            .btn-container {
                background-color: #4183d7;
                color: white;
            }

            .dot {
                background-color: #4183d7;
            }
        }

        .it:hover {
            background-color: #4183d7;

            .btn-container {
                background-color: white;
                color: black;
            }

            .dot {
                background-color: white;
                height: 65px;
                width: 65px !important;
                border-radius: 50%;
                color: #4183d7;
                font-size: 2em !important;
                box-sizing: border-box;
                line-height: 60px;
                text-align: center;
                vertical-align: middle;
                padding: 0.5em 0.6em;
            }
        }

        .digital {
            background-color: white;
            color: black;

            .btn-container {
                background-color: #2ecc71;
                color: white;
            }

            .dot {
                background-color: #2ecc71;
            }
        }

        .digital:hover {
            background-color: #2ecc71;

            .btn-container {
                background-color: white;
                color: black;
            }

            .dot {
                background-color: white;
                height: 65px;
                width: 65px !important;
                border-radius: 50%;
                color: #2ecc71;
                font-size: 2em !important;
                box-sizing: border-box;
                line-height: 60px;
                text-align: center;
                vertical-align: middle;
                padding: 0.5em 0.6em;
            }
        }

        .telecoms {
            background-color: white;
            color: black;

            .btn-container {
                background-color: #d64541;
                color: white;
            }

            .dot {
                background-color: #d64541;
            }
        }

        .telecoms:hover {
            background-color: #d64541;

            .btn-container {
                background-color: white;
                color: black;
            }

            .dot {
                background-color: white;
                height: 65px;
                width: 65px !important;
                border-radius: 50%;
                color: #d64541;
                font-size: 2em !important;
                box-sizing: border-box;
                line-height: 60px;
                text-align: center;
                vertical-align: middle;
                padding: 0.5em 0.6em;
            }
        }

        .web {
            background-color: white;
            color: black;

            .btn-container {
                background-color: #926fb1;
                color: white;
            }

            .dot {
                background-color: #926fb1;
            }
        }

        .web:hover {
            background-color: #926fb1;

            .btn-container {
                background-color: white;
                color: black;
            }

            .dot {
                background-color: white;
                height: 65px;
                width: 65px !important;
                border-radius: 50%;
                color: #926fb1;
                font-size: 2em !important;
                box-sizing: border-box;
                line-height: 60px;
                text-align: center;
                vertical-align: middle;
                padding: 0.5em 0.6em;
            }
        }

        .security {
            background-color: white;
            color: black;

            .btn-container {
                background-color: #f62459;
                color: white;
            }

            .dot {
                background-color: #f62459;
            }
        }

        .security:hover {
            background-color: #f62459;

            .btn-container {
                background-color: white;
                color: black;
            }

            .dot {
                background-color: white;
                height: 65px;
                width: 65px !important;
                border-radius: 50%;
                color: #f62459;
                font-size: 2em !important;
                box-sizing: border-box;
                line-height: 60px;
                text-align: center;
                vertical-align: middle;
                padding: 0.5em 0.6em;
            }
        }

        .developer-course {
            background-color: white;
            color: black;

            .btn-container {
                background-color: #ce4125;
                color: white;
            }

            .dot {
                background-color: #ce4125;
                color: white;
            }
        }

        .developer-course:hover {
            background-color: #ce4125;

            .btn-container {
                background-color: white;
                color: black;
            }

            .dot {
                background-color: white;
                height: 65px;
                width: 65px !important;
                border-radius: 50%;
                color: #ce4125;
                font-size: 2em !important;
                box-sizing: border-box;
                line-height: 60px;
                text-align: center;
                vertical-align: middle;
                padding: 0.5em 0.6em;
            }
        }
    }
}

.accreditation {
    display: block;
    padding: 50px 0px;
    max-width: 100vw;
    overflow-x: hidden;


    .item {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.5s ease;
        padding: 30px
    }

    .item:hover {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: all 0.5s ease;
    }

}

.brand-color {
    background-color: $bunting;
    color: $white;
    font-size: 16px;
    padding: 15px 15px;
    line-height: 30px;

    a:link {
        color: $white;
        text-decoration: none;

        .underline:hover {
            text-decoration: underline !important;
        }
    }

    a:hover {
        text-decoration: none;
    }

    a:visited {
        color: $white;
    }

    .client-quote {
        font-style: italic;
        font-size: 20px;
        font-weight: 600;
    }

    .client-quote-author {
        font-weight: 600;
        color: #a3a8ac;
        font-size: 20px;
    }

    .btn-read-more {
        background-color: #272936;
        font-size: 20px;
        line-height: 35px;
        padding: 10px;
        margin: 0;
    }

    .btn-read-more:hover {
        background-color: #15171e;
    }

    .btn-google {
        background-color: $havelock !important;
        font-size: 20px;
        line-height: 35px;
        padding: 10px;
        margin: 0;
    }

    .btn-google:hover {
        background-color: #166af4 !important;
    }

    .btn-trustpilot {
        background-color: $green !important;
        font-size: 20px;
        line-height: 35px;
        padding: 10px;
        margin: 0;
    }

    .btn-trustpilot:hover {
        background-color: #009b69 !important;
    }

    .col-md-3 {
        padding: 3px;
    }
}

.article-list {
    color: $white;
    font-size: 16px;
    padding: 50px 15px 0px;
    line-height: 30px;
    color: #333645;
    background-color: white;



    .img-container {
        width: inherit;

        img {
            object-fit: cover;
            max-height: 220px;
            min-height: 200px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .purple {
            background-color: #926fb1 !important;
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            padding: 0 10px;
        }

        .grey {
            background-color: #67809f;
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            padding: 0 10px;
        }
    }

    h1 {
        font-size: 2.7rem;
        margin-bottom: -10px;
        margin-top: -13px;
    }

    p {
        font-size: 13px;
        line-height: 22px;
        min-height: 70px;
    }

    .btn {
        height: auto;
        background-color: #67809f;
        line-height: 35px;
        padding: 5px 15px;
        margin: 10px;
        text-transform: uppercase;
        font-size: 17px;
        border-radius: 3px;
        border: 1px solid transparent;
        font-weight: 400;
        color: white;
    }

    .heading {
        font-size: 16px;
    }

    .user {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        margin-top: 20px;
        padding-top: 20px;
    }

    .item {
        display: block;

        box-sizing: border-box;
        text-align: left;
        margin: 20px 0;
        box-shadow: 0 3px 35px rgb (0 0 0 / 10%);

        position: relative;
        top: 0;
        transition: top ease 0.5s;

        .block {
            min-height: 400px;
            display: block;
            padding: 30px;
            border-radius: 2px;
            border: 1px solid #ccc;

            position: relative;
            top: 0;

        }
    }

    .item:hover {
        top: -10px;
        transition: 0.5s ease;

        .btn:hover {
            background-color: #67809f;
            color: white;
        }
    }
}

@media (max-width: 1259px) and (min-width: 992px) {

    .img-container {

        background-color: green;

        img {
            object-fit: none;
            min-height: 100px !important;
        }
    }
}

@media (max-width: 992px) and (min-width: 768px) {

    .img-container {

        background-color: green;

        img {
            object-fit: none;
            min-height: 70px !important;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1259px) {
    #item-block {
      display: none;
    }
    #item-block.d-lg-none {
      display: block;
    }
  }


.section {
    padding: 2%;
    align-items: center;
    vertical-align: middle;

    .clients {
        .container {
            overflow: visible !important;
        }

        .item {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all 0.5s ease;
            position: relative;
            display: inline-block;
        }

        .item:hover {
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            filter: grayscale(0%);
            transition: all 0.5s ease;
        }


        .target-element {
            min-height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hover-element {
            display: none;

            position: absolute;
            top: -200px;
            padding: 8px;
            background-color: #333645;
            color: #fff;
            transform: translateX(-5%);
            border-radius: 4px;
            text-align: center;

            width: 275px;

            margin: 0 15px;

            h3 {
                padding: 10px;
                margin-top: 10px;
            }

            p {
                padding: 20px 0 0 0;
            }


        }

        .white-line {
            content: "";
            position: absolute;
            left: 45%;
            top: 40%;
            height: 15px;
            width: 10%;
            border-bottom: 3px solid white;
        }

        .arrow:before {
            content: '';
            position: absolute;
            display: block;
            top: 99%;
            left: 35%;
            width: calc(100% / 3);
            height: 50px;
            background: #333645;
            clip-path: polygon(50% 70%, 0 0, 100% 0);
        }

        img {
            align-items: center;
            display: inline-block;
            position: relative;
        }


        .target-element:hover~.hover-element {
            display: inline-block;
            position: absolute;

        }



        @media (min-width: 767px) and (max-width: 1199px) {
            .target-element {
                min-height: 50px;
            }
            .hover-element {
                display: none;
    
                position: absolute;
                top: -200px;

                transform: translateX(-20%);
    
                width: 275px;
    
                margin: 0 15px;   
    
            }

            img {
                max-height: 40px;
            }
        }

    }
}

.newsletter-full-width {
    background-color: #ddd;
    color: $bunting;
    padding: 50px 0;
    margin: auto;

    a {
        color: $bunting;
        text-decoration: underline;
    }
    h2{
        margin: 0px;
    }
    a:hover {
        color: #22242e;
    }

    .form-control {
        height: 50px;
        line-height: 20;
        border-color: #ccc;

        border-radius: 2px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .required {
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;
    }

    .required::after {
        content: " *";
        color: red;
    }

    .media-body {
        font-size: 16px;
        line-height: 32px;
        font-weight: 600;
        font-style: normal;
        padding-left: 10px;
    }

    .btn-subscribe {
        color: white;
        background-color: $bunting;
        padding: 5px 15px;
        font-size: 17px;
        line-height: 35px;
    }

    .btn-subscribe:hover {
        color: white;
        background-color: #22242e;
    }

    input[type="checkbox"] {
        appearance: none;

        margin: 0 20px 0 0;
        font: inherit;
        color: currentColor;
        max-width: 26px;
        max-height: 26px;
        min-width: 26px;
        min-height: 26px;
        border: 3px solid currentColor;
        border-radius: 3px;
        transform: translateY(-0.075em);
    }

    /* The container */
    .checkbox-button {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
         /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        background-color: #ddd;
        border: 2px solid #333645;
    }


    /* When the checkbox is checked, add a blue background */
    input:checked~.checkmark {
        background-color: #333645;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 9px;
        top: 5px;
        width: 10px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    }

   
}




