.service-list {
    margin-top: 30px;

    h1 {
        font-size: 2.7rem;
        margin-bottom: -10px;
        margin-top: -13px;
    }
    .h2 {
        font-family: inherit;
        font-size: 1.5rem;
        position: relative;
        text-decoration: none;
        padding-bottom: 10px;
        margin: 0 0 11px;
    }

    h3 {
        a {
            color: #333645;
        }
    }

    .btn {
        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 3px;
        text-align: center;
        border: 1px solid transparent;
    }

    .block {
        margin-top: 30px;
        margin: 10px;
        padding: 30px;
        display: block;
        border-radius: 15px;
        border: 1px solid #ccc;
        text-align: center;

        position: relative;
        top: 0;
        transition: top ease 0.5s;

        @include clearfix;
    }
    .block:hover {
        background-color: white;
        color: #fff;
        border-color: transparent;
        top: -10px;
        transition: 0.5s ease;
    }

    .software {
        background-color: white;
        color: black;

        .btn-container {
            background-color: #67809f;
            border-radius: 3px;
            color: white !important;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: #67809f;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: white;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .software:hover {
        background-color: #67809f;

        .btn-container {
            background-color: white;
            border-radius: 3px;
            color: #67809f !important;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #67809f;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .it {
        background-color: white;
        color: black;

        .btn-container {
            background-color: #4183d7;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: #4183d7;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: white;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .it:hover {
        background-color: #4183d7;

        .btn-container {
            background-color: white;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #4183d7;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .digital {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #2ecc71;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: #2ecc71;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: white;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .digital:hover {
        background-color: #2ecc71;
        .btn-container {
            background-color: white;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #2ecc71;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .telecoms {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #d64541;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: #d64541;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: white;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .telecoms:hover {
        background-color: #d64541;
        .btn-container {
            background-color: white;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #d64541;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .web {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #926fb1;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: #926fb1;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: white;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .web:hover {
        background-color: #926fb1;
        .btn-container {
            background-color: white;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #926fb1;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .security {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #f62459;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: #f62459;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: white;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .security:hover {
        background-color: #f62459;
        .btn-container {
            background-color: white;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #f62459;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }

    .developer-course {
        background-color: white;
        color: black;
        .btn-container {
            background-color: #ce4125;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: #ce4125;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: white;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }
    
    .developer-course:hover {
        background-color: #ce4125;
        .btn-container {
            background-color: white;
            border-radius: 3px;
            color: black;
            padding: 15px;
            margin: 10px;
            box-sizing: border-box;
        }
        .dot {
            background-color: white;
            height: 65px;
            width: 65px !important;
            border-radius: 50%;
            color: #ce4125;
            font-size: 2em !important;
            box-sizing: border-box;
            line-height: 80px;
            text-align: center;
            vertical-align: middle;
            padding: 0.5em 0.6em;
        }
    }



 







    
}

.article-list {
    margin-top: 20px;
    h1 {
        font-size: 3rem;
        margin-bottom: -10px;
        margin-top: -15px;
    }
    h2 {
        font-size: 1.5rem;
        position: relative;
        padding-bottom: 10px;
        margin: 0 0 10px;
    }

    .item {
        position: relative;
        margin-top: 30px;
        display: block;

        padding: 30px;
        text-align: center;
        background-color: black;
        transition: top ease 0.5s;
        .block {
            border: 1px solid #ccc;
            border-top: none;
        }
    }
    .item:hover {
        transform: translate(0, -10px);
    }
}

.brand-color {
    background-color: $bunting;
    color: $white;
    padding: 50px 15px;
}

.btn-google {
    background-color: $havelock !important;
}

.btn-trustpilot {
    background-color: $green !important;
}
