.menu {
	position: absolute;
	top: 0;
	margin-top: 50px;
	left: 0;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;


}

.menu-button-container {
	display: none;
	height: 56px;
	width: 56px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $bunting;
	padding: 10px;
	margin: 10px;
	margin-right: 10px !important;
	border-radius: 5px;

}

#menu-toggle {
	display: none;
}

.menu-button, .menu-button::before, .menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: "";
	margin-top: -8px;
}

.menu-button::after {
	content: "";
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: $bunting;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

.menu-button-container {
	display: flex;
}

