.menu {
	position: absolute;
	top: 0;
	margin-top: 50px;
	left: 0;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;


}

.menu-button-container {
	display: none;
	min-height: 56px;
	min-width: 56px;
	max-height: 56px;
	max-width: 56px;
	height: 56px;
	height: 56px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $bunting;
	padding: 10px;
	margin: 10px;
	margin-right: 10px !important;
	border-radius: 2px;

}

#menu-toggle {
	display: none;
}

.menu-button, .menu-button::before, .menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: "";
	margin-top: -8px;
}

.menu-button::after {
	content: "";
	margin-top: 8px;
}

.menu-button.active::before {
	margin-top: 0px;
	transform: rotate(405deg);
  }
  
  .menu-button.active::after {
	margin-top: 0px;
	transform: rotate(-405deg);
  }

#menu-toggle:checked + .menu-button-container .menu-button {
	background: $bunting;
}



.menu-button-container {
	display: flex;
}

@media screen and (max-width: 499px) {
	.mobile{
	  padding: 0 !important;
	  margin: 0 !important;
	}
	.col{
	  padding: 0;
	  margin: 0;
	}
  }